.header{
    display: flexbox;
    text-align: center;
    margin-top:0;
    background-color: black;
    margin-bottom:20px;
}

.subheader {
    display: flexbox;
    text-align: center;
    margin-top:0;
    margin-bottom:20px;
    padding: 10px;
    background-color: lightsteelblue;
}
.titulo{
    text-align: center;
    margin-bottom:20px !important;
}

.titulo h1 {
    color: #282828;
}

.titulo .nmfeira {
    color:  #000;
    font-weight: bold;
}

.titulo .bolinha {
    color: #ff5f00;
}

#carregando {
    width: 100%;
    display: block;
    text-align: center;
}

.textocarregando {
    font-size:  30px;
    margin-left: 15px;
    color: #28a745!important;
}